<nav id="header-navbar">
    <div id="hns01" class="header-nav-ddt">
        <h1 class="header-nav-ddt-h1">Doors, Hardware, and Moulding</h1>
        <ul id="hns01dd" class="hdropdown">
            <li><a href="/dhm/residential"><h2 class="header-nav-dd-h2">Residential</h2></a></li>
            <li><a href="/dhm/commercial"><h2 class="header-nav-dd-h2">Commercial</h2></a></li>
        </ul>
    </div>
    <div id="hns02">
        <a href="/">
            <div id="hlogo">
                <div id="hfullLogo">
                    <img src="../../assets/images/logo-sureline-full-transparentback-whitefore-cropped.png" alt="fullLogoLightMode" id="hfullLogosrc">
                </div>
                <div id="hdcLogo">
                    <img src="../../assets/images/logo-sureline-designcrop-transparentback-whitefore-cropped.png" alt="dcLogoLightMode" id="hdcLogosrc">
                </div>
            </div>
        </a>    
    </div>
    <div id="hns03" class="header-nav-ddt">
        <h1 class="header-nav-ddt-h1">Cabinets</h1>
        <ul id="hns03dd" class="hdropdown">
            <li><a href="/cabinets/residential"><h2 class="header-nav-dd-h2">Residential</h2></a></li>
            <li><a href="/cabinets/commercial"><h2 class="header-nav-dd-h2">Commercial</h2></a></li>
        </ul>
    </div>
    <div id="hns04">
        <div id="hhamburger">
            <div class="hhline"></div>
            <div class="hhline"></div>
        </div>
    </div>
</nav>