<nav id="footer-navbar">
    <div id="fns01">
        <a href="/home">
            <div id="flogo">
                <div id="ffullLogo">
                    <img src="../../assets/images/logo-sureline-full-transparentback-whitefore-cropped.png" alt="fullLogoLightMode" id="ffullLogosrc">
                </div>
                <div id="fdcLogo">
                    <img src="../../assets/images/logo-sureline-designcrop-transparentback-whitefore-cropped.png" alt="dcLogoLightMode" id="fdcLogosrc">
                </div>
            </div>
        </a>
    </div>
    <div id="fns02">
        <div id="servicesTab">
            <span class="tab-headings">Services</span>
            <nav id="servicesNavigation">
                <ul class="footer-nav-ul">
                    <li class="footer-nav-link"><a href="/dhm/residential"><span>Doors, Hardware, and Moulding - Residential</span></a></li>
                    <li class="footer-nav-link"><a href="/dhm/commercial"><span>Doors, Hardware, and Moulding - Commercial</span></a></li>
                    <li class="footer-nav-link"><a href="/cabinets/residential"><span>Cabinets - Residential</span></a></li>
                    <li class="footer-nav-link"><a href="/cabinets/commercial"><span>Cabinets - Commercial</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="fns03">
        <div id="resoursesTab">
            <span class="tab-headings">Resourses</span>
            <nav id="resoursesNavigation">
                <ul class="footer-nav-ul">
                    <li class="footer-nav-link"><a href="/contact"><span>Contact</span></a></li>
                    <li class="footer-nav-link"><a href="/aboutus"><span>About Us</span></a></li>
                    <li class="footer-nav-link"><a href="/testimonials"><span>Testimonials</span></a></li>
                    <li class="footer-nav-link"><a href="/gallery"><span>Gallery</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>