<nav id="sliderNavbar" class="sliderInActive">
    <div id="sns01" class="slider-nav-ddt">
        <span class="slider-nav-ddt-span">Doors, Hardware, and Moulding</span>
        <ul id="sns01dd" class="sdropdown">
            <li><a href="/dhm/residential"><span class="slider-nav-dd-span">Residential</span></a></li>
            <li><a href="/dhm/commercial"><span class="slider-nav-dd-span">Commercial</span></a></li>
        </ul>
    </div>
    <div id="sns02" class="slider-nav-ddt">
        <span class="slider-nav-ddt-span">Cabinets</span>
        <ul id="sns02dd" class="sdropdown">
            <li><a href="/cabinets/residential"><span class="slider-nav-dd-span">Residential</span></a></li>
            <li><a href="/cabinets/commercial"><span class="slider-nav-dd-span">Commercial</span></a></li>
        </ul>
    </div>
        <div id="sns03" class="slider-nav-ddt">
            <span class="slider-nav-ddt-span">Contact</span>
        </div>
        <div id="sns04" class="slider-nav-ddt">
            <span class="slider-nav-ddt-span">About Us</span>
        </div>
        <div id="sns05" class="slider-nav-ddt">
            <span class="slider-nav-ddt-span">Testimonials</span>
        </div>
        <div id="sns06" class="slider-nav-ddt">
            <span class="slider-nav-ddt-span">Gallery</span>
        </div>
</nav>